body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  border-radius: 5px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  /* background-color: #17D7A0; */
  background-color: #17D7A0;
}


h1 {
  color: #66BFBF;
  margin-top: 65px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;  /*100% = 16px*/ /* 1em = 16px*/
  margin-bottom: 0;
}

/* p{
  font-size: 20px;
  margin-top: 10px;
} */

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
  line-height: 2.3;
}

h3.intro{
  line-height: 2.1;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

hr{
  border-style: dotted none none;
  border-color: rgb(173, 172, 172);
  border-width: 5px;
  width: 4.5%;
}

.prog{
  font-weight: 600;
}

.top_container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  margin: 80px 0;
}

.bottom-container{
  background-color: #66BFBF;
  /* padding: 50px 0 20px; */
}

.top-cloud {
  height: 58px;
  position: absolute;
  right: 340px;
  top: 50px;
}

.bottom-cloud {
  height: 58px;
  position: absolute;
  left: 300px;
  bottom: 380px;
}

.mountain {
  height: 395px;
  margin-top: -30px;
}

.profile_photo{
  height: 185px;
}

.code{
  height: 70px;
}

.python-logo{
  height: 25px;
}

.c-logo{
  height: 25px;
}

.html-logo{
  height: 25px;
}

.css-logo{
  height: 25px;
}

.photoshop-logo{
  height: 25px;
}

.linkedin-logo{
  height: 25px;
}

.github-logo{
  height: 25px;
  margin-left: 70px;
}

.skill-row{
  width: 50%;
  margin: auto;
}

.skills{
  position: relative;
}

.skill-row-1{
  position: absolute;
  left: 100px;
}

.skill-row-3{
  position: absolute;
  right: 100px;
  bottom: -14.5px;
}

.social-text{
  text-decoration: none;
  margin-left: 12px;
}

.social-text:hover{
  color: #EAF6F6;
}

.footer-line{
  color: #EAF6F6;
  margin-bottom: 0;
  padding: 35px 0 15px 0;
}

.button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  /* -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000; */
  border: solid #11cdd4 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  border: solid #30e3cb 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 12px;
  -moz-border-radius: 23px;
  border-radius: 12px;
  text-decoration: none;
}